.expensiveContainer {
    min-width: 300px;
}

.longestName {
    margin-bottom: 12px;
    text-decoration: solid;
}

.longestName span {
    font-weight: 500;
    font-size: 2rem;
    text-decoration: none;
}

.list {
    list-style: inside;
}