.posts {
    margin: 12px 0;
    padding-bottom: 20px;
}

.title {
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 8px;
    margin-left: 10px;
}

.list {}

.item {
    padding: 10px 12px;
    background-color: white;
    border-radius: 8px;
    transition: all 0.2s;
    cursor: pointer;

    &:nth-child(even) {
        background-color: rgba(212, 212, 212, 0.247);
    }

    &:hover {
        background-color: rgba(255, 166, 0, 0.185);
        box-shadow: 0 4px 4px rgba(185, 185, 185, 0.445);
    }
}